<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>
<body>
<h1>hello BRK.</h1>
<form action="/submit" method="post">
    <textarea type="text" id="userInput" name="userInput" rows="8" cols="40"></textarea>
    <button type="submit">Submit</button>
</form>
<script src="script/script.js"></script>
</body>
</html>