<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal Cycling</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<div id="overlay"></div>

<div id="modal-container">
    <!-- Modal 1 -->
    <div class="modal" style="display: block;">
        <div class="modal-content">
            <img src="/images/bu-logo-asset-servicing.svg" alt="BU logo asset servicing"/>
            <h1>HOLISTIC SOLUTIONS FOR YOUR ASSET SERVICING NEEDS</h1>
            <div class="stats">
                <div>26 GLOBAL LOCATIONS</div>
                <div>53 CLIENT COUNTRIES</div>
                <div>100 MARKETS</div>
                <div>14K+ STAFF WORLDWIDE</div>
            </div>
            <P>Providing front, middle and back office solutions to help you meet the demands of a changing and complex
                investment landscape. Innovative technology, deep expertise and personalized service provide integrated
                solutions that keep pace with your needs and help you to make more insightful business decisions.</P>
        </div>
    </div>

    <!-- Placeholder Modals 2 -->
    <div class="modal" style="display: block;">
        <div class="modal-content">
            <img src="/images/bu-logo-asset-servicing.svg" alt="BU logo asset servicing"/>
            <h1>Global Fund Services</h1><br>
            <div class="stats">
                <div>26 GLOBAL LOCATIONS</div>
                <div>53 CLIENT COUNTRIES</div>
                <div>100 MARKETS</div>
                <div>14K+ STAFF WORLDWIDE</div>
            </div>
            <p>Support your business strategy with the right combination of onshore and offshore asset servicing and
                fund administration solutions for traditional and alternative assets.</p>
        </div>
    </div>

    <!-- Placeholder Modals 3 -->
    <div class="modal " style="display: block;">
        <div class="modal-content">
            <img src="/images/bu-logo-asset-servicing.svg" alt="BU logo asset servicing"/>
            <h1>Securities Services</h1><br>
            <div class="stats">
                <div>26 GLOBAL LOCATIONS</div>
                <div>53 CLIENT COUNTRIES</div>
                <div>100 MARKETS</div>
                <div>14K+ STAFF WORLDWIDE</div>
            </div>
            <p>Stay ahead of the growing complexity, globalization and rapid change in the investment landscape.</p>
        </div>
    </div>

    <!-- Placeholder Modals 4 -->
    <div class="modal" style="display: block;">
        <div class="modal-content">
            <img src="/images/bu-logo-asset-servicing.svg" alt="BU logo asset servicing"/>
            <h1>Capital Markets</h1><br>
            <div class="stats">
                <div>26 GLOBAL LOCATIONS</div>
                <div>53 CLIENT COUNTRIES</div>
                <div>100 MARKETS</div>
                <div>14K+ STAFF WORLDWIDE</div>
            </div>
            <p>Maximize investment and execution potential with our innovative solutions across institutional brokerage,
                transition management, securities lending, and foreign exchange.</p>
        </div>
    </div>
</div>

<div class="loginmodal" id="login">
    <div class="modal-content">
        <img src="/images/bu-logo-asset-servicing.svg" alt="BU logo asset servicing"/>
        <h1>Log In</h1><br>
        <p>lgim, vanguard, jupiter</p>
        <form action="/" method="post" class="login">
            <input class="login__input login__input--user" type="text" name="userlogin" placeholder="user" required><br>
            <input class="login__input login__input--pin" type="password" name="password" placeholder="PIN" maxlength="4" required><br><br>
            <button class="login__btn" type="submit">&rarr;</button>
        </form>

    </div>
</div>

<script src="/script/script.js"></script>
</body>
</html>

